body {
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

.wrapper {
    max-width: 1340px;
    margin-left:auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    
}
#navbar {
display: flex;
}



#navbar ul {
    display: flex;
    
}

#navbar a{
    text-transform: capitalize;
    margin-right: 66px;
    padding-right: 10px;
    padding-left: 10px;
}


.test1 a:hover{
    color: #0065FC;
    border-top: solid #0065FC 3px;
    padding-top: 61px;
    transition: 0.3s ease;
}

.test2 a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #0065FC;
}

#signin {
    order: 3;
}


#logo {
    width: 74%;
}




/* Div banner slogan*/
.banner h1 {
    padding-bottom: 18px;
}
.banner strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

.banner p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;

}

/*Section filter eco, etc*/

#section_filter form{
	display: flex;
	height: 52px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: max-content;
	margin-bottom: 30px;
}

#section_filter form label,h2{
	margin-bottom: auto;
    margin-top: auto;
}
#section_filter form label{
	padding: 0 20px;
	text-align: center;
	font-size: 1.2em;
}

#city{
	margin-top: 2px;
	height: 48px;
	border: #F2F2F2;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	
}


#btn_search{
	padding: 0 12px;
	height: 50px;
	background-color: #0065FC;
	color: #FFF;
	border: none;
	border-radius: 0 15px 15px 0;
	font-size: 1.2em;
}

#btnphone_search {
    display: none;
}

#filters {
    display: flex;
}

#filters h2 {
    margin-right: 20px;
}

.button {
   
    background: #FFFFFF;

    border: solid 2px lightgrey;
    padding-left: 0px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 15px;
}

   

.button i {
    position: relative;
    z-index: 2;
    left: -5px;
    padding: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    text-align: left;
    border-radius: 50px;
    /* margin-left: 15px; */
}

#filters button:hover {
    color: #0065fc;
    border-color: #deebff;
}

.button span {
    z-index: 1;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size:1.2em;
    border-top-left-radius: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: none;
 
}

#info {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom:40px;
}

#info i {
border: 1px #f2f2f2 solid;
border-radius: 25px;
text-align: center;
padding: 5px 10px;
color: #0065FC;
}




#section_filter {
    margin-top:19px;
}


#section_result {
    display: flex;
    flex-wrap: wrap;
}

.section_result_h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    padding-top: 44px;
    padding-left: 40px
}

/*the result part*/

#result_search_wrapper{
   
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 10px;
    
    
   
}

#result_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px;
    padding-top: 25px;
   

}



.img_result_search {
    
    width: 244px;
    height: 198px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 24px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 42%);

}


.img_result_search:hover {
    transform: scale(1.01);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


.img_picture {
    width: 236px;
    height: 116px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
    padding: 4px;

} 

.price {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    
}

.star{
    padding-left: 16px;
    font-size: 0.8em;
}

.star-most{
    
    font-size: 0.8em;
}
.bluestar{
    color: #0065FC;
}


.greystar {
    color: #b4b4b4;

}

.greystar:hover {
    color: #0065FC;

}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;
   
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
}

.img_result_search h2, .img_result_search p {
    padding-left: 16px;
    padding-bottom: 11px;
}


.img_result_search h2, p, span:last-child {
    padding-bottom: 5px;
}

#more{
   
    display: inline-block;
    padding-top: 40px;
    padding-left: 40px;
    width: 133px;
    margin-bottom: 30px;
    
}

#more a:hover{
    color: #0065FC;
    transition: 0.3s ease;
}

/* Most popular right section */

#most_popular_wrapper {

    width: 33%;
    height: 624px;
    margin-left: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.img-mostpopular{
    display: flex;
    align-items: center;
    width: 80%;
    height: 144px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
}

.img-mostpopular:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
}

.img_picture_popular {
    width: 130px;
    height: 135px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
    padding: 4px;

} 

.text {
width: 50%;
margin-left: 5%;
}

.text span {
   
    }

/* Activity section Marseille*/


#section_activity {
    
   margin-top: 62px;
   margin-bottom: 56px; 
  
   
}

#section_activity h1{

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 27px;
    padding-top: 0px;
    padding-left: 0px
    
}

#activity_content {
  display: flex;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card h2 {
    margin: 22px;
    
}


.first-card {
    display: flex;
    margin-right: 5%;
    flex-wrap: wrap;
}

.one-first {

    width: 305px;
    height: 447px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);

    

}

.one-first img {

    width: 305px;
    height: 389px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
  

}

.one{

    width: 305px;
    height: 239px;
    border-radius: 10px;
    margin-bottom: 13%;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
    
}

.one img {

    width: 305px;
    height: 182px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
  

}

.two{

    width: 305px;
    height: 168px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
    
}

.two img {

    width: 305px;
    height: 110px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;

}


/*footer*/

footer {
    width: 100%;
    background-color: #F2F2F2;
    height: 200px;
}

.container_footer {
    max-width: 1340px;
    display: flex;
    align-items: center;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    
}

.container_footer h2 {

    padding-bottom: 20px;

}
.container_footer li {

    padding-bottom: 16px;

}

.container_footer a:hover{
    color: #0065FC;
    transition: 0.3s ease;
}

.about {
    
    width: 33%;
}

.stay {
    width: 33%;
}

.help {
    width: 33%;
}



@media screen and (max-width: 600px)

{


    .wrapper {
        max-width: 365px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 100%;
        display: inline-block;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* margin-top: 50px; */
        /* margin-bottom: 50px; */
    }

    #logo, #signin {
        display: inline-block;
        /* flex-wrap: wrap; */
        vertical-align: middle;
        /* justify-content: space-between; */
        /* align-items: center; */
        margin-top: 10px;
        margin-bottom: 50px;
    }

    #signin {
        width: 25%;
    }




    #logo {
        width: 70%;
    }

    #section_filter {
        margin-top: 19px;
        margin-left: 1em;
    }

#btn_search {
   display: none;
    
}

#section_filter form {
    margin-left: auto;
    margin-right: auto;
}

#btnphone_search {
    
   
        width: 18px;
        display: flex;
        background-color: #0065FC;
        padding: 16px;
        border-radius: 15px;
    }

    #section_filter {
       
        margin-right: auto;
        margin-left: auto;
        width: 90%;
       
    }
    .banner {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    #filters {
        display: block;

    }

    #filters h2 {
        margin-bottom: 1.5em;
    }
    .button {
        margin-bottom: 1.5em;
    }

    #section_result {
        display: flex;
        flex-direction: column-reverse;
    }

    .img-mostpopular{
       
        width: 90%;
        height: 144px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-top:25px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
    }

.img_picture_popular {
        width: 50%;
        height: 135px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
        padding: 4px;}


        /*hebergement à marseille*/

 
        #result_search {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 0;
            padding-top: 0;
           
        
        }

        #result_search_wrapper {
            width: 100%;
            background-color: #F2F2F2;
            border-radius: 10px;
            margin-top: 1.5em;
        }


        .img_result_search {
            width: 90%;
            height: 198px;
            background-color: #FFFFFF;
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgb(0 0 0 / 42%);
            margin-right: auto;
            margin-left: auto;
        }


        
        .img_picture {
            width: 98%;
            height: 116px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px 10px 0px 0px;
            padding: 4px;
        }



        #activity_content {
            display:block;
        }

        .section_result_h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 1.3em;
            padding-top: 0px;
            padding-left: 0px;
            
            margin-bottom: 30px;
            margin-left: 1em;
        }



        footer {
            /* width: 100%; */
            background-color: #F2F2F2;
            height: auto;
            /* height: 200px; */
        }

        .container_footer {
            /* max-width: 1340px; */
            /* width: 100%; */
            display: flex;
           
            height: auto;
            flex-direction: column;
            /* margin-left: auto; */
            /* margin-right: auto; */
            
            padding-left: 1.5em;
        }

        .about {
            width: 100%;
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
        .stay {
            width: 100%; 
            margin-bottom: 1.5em;
        }

        .help {
            width: 100%;
            margin-bottom: 1.5em;
        }

        #section_activity h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 1.2em;
            margin-bottom: 27px;
            padding-top: 0px;
            padding-left: 0px;
            margin-left: 1.5em;
        }
        .one-first,.one,.two {
            width: 90%;
            height: 190px;
            border-radius: 10px;
            box-shadow: 1px 1px 7px rgb(0 0 0 / 13%);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2em;
        }

        .one-first img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px 10px 0px 0px;
        }

        .one img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px 10px 0px 0px;
        }

        .two img{
            width: 100%;
            height: 135px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px 10px 0px 0px;
        }

        .card {
            display: block;
        }

        .first-card {
            display: block;
            margin-right: 0;
           
        }

}



/*Media queries à partir d'un ipad PRO*/

@media screen and (max-width: 1024px)
{

    .img_picture_popular {
        width: 50%;
        height: 135px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 10px 0px 0px;
        padding: 4px;}

.wrapper {
        max-width: 924px;
        margin-left: auto;
        margin-right: auto;
    }

#result_search_wrapper {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;

}

.section_result_h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    padding-top: 44px;
    padding-left: 86px;
    /* margin: auto; */
    margin-bottom: 30px;
}

#result_search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-left: 40px; */
    /* padding-top: 25px; */
    /* width: 100%; */
}


#more h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

#most_popular_wrapper {
    width: 100%;
    /* height: 624px; */
    /* margin-left: auto; */
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-top: 20px;
}

}










